.equipo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    gap: 1rem;
    
}

.equipo button {
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    gap: 3rem;
    text-align: left;
    border-radius: 15px;
}
.colaboradores{
    display: flex;
 

}

