.link {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #e0e0e0;
}

/* Estilos específicos para el botón 'Nuevo Video' */
.nuevoVideoButton {
  color: white; /* Color del texto blanco */
  background-color: black; /* Fondo negro */
  border: 1px solid white; /* Borde blanco */
  padding: 8px 12px; /* Ajusta el padding según sea necesario */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.nuevoVideoButton:hover {
  background-color: #333; /* Cambia el color de fondo al pasar el ratón */
  border-color: #333; /* Cambia el color del borde al pasar el ratón */
  color: #fff; /* Cambia el color del texto al pasar el ratón */
}